
{% extends "layout.html" %}
{% block content %}
    <div class="form">
        {% with message = get_flashed_messages() %}
        {% if message %}
        <div class="alert alert-primary" role="alert">
            {{message[0]}}
        </div>
        {% endif %}
        {% endwith %}
        <form action="/" method="POST">
            {{ form.hidden_tag() }}
           <!-- <input class="city-input" type="text" placeholder="Enter a city name" name="city_name" id="input-city">
            {{ form.country.label }}-->
                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="city-input", placeholder="Enter a city name", id="input-city") }}
                        {{ form.country(class="country-input") }}
                    {% endif %}
            
            <button type="submit" class="submit-button">Add</button>
        </form>
    </div>
    <div class="cards">
        {% if weather %}
        {% for w in weather%}
        <div class="card night">
            <div class="delete-wrapper">
                <form action="#" method="POST">
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <button class="delete-button" type="submit">&#10006;</button>
                </form>
            </div>
            
            <div class="degrees"><span>{{ w.temp }}<span class="celsius"> °C</span></span></div>
            <div class="state">{{ w.weather }}</div>
            <div class="city">{{ w.city }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
{% endblock %}
    <!--
        <div class="card day">
            <div class="delete-wrapper">
                <form action="#" method="POST">
                    <input type="hidden" name="id" value="">
                    <button class="delete-button" type="submit">&#10006;</button>
                </form>
            </div>
            <div class="degrees"><span>32<span class="celsius"> °C</span></span></div>
            <div class="state">Sunny</div>
            <div class="empty"></div>
            <div class="city">NEW YORK</div>
        </div>

        <div class="card evening-morning">
            <div class="delete-wrapper">
                <form action="#" method="POST">
                    <input type="hidden" name="id" value="">
                    <button class="delete-button" type="submit">&#10006;</button>
                </form>
            </div>
            <div class="degrees"><span>-15<span class="celsius"> °C</span></span></div>
            <div class="state">Cold</div>
            <div class="empty"></div>
            <div class="city">EDMONTON</div>
        </div>
    </div>
    -->
    