{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Your Profile</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password(class="form-control-sm") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
<!--
<div class="form">
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message[0]}}
    </div>
    {% endif %}
    {% endwith %}
    <form action="/" method="POST">
        <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
        <button type="submit" class="submit-button">Add</button>
    </form>
</div>
<div class="form">
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message[0]}}
    </div>
    {% endif %}
    {% endwith %}
    <form action="/" method="POST">
        <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
        <button type="submit" class="submit-button">Add</button>
    </form>
</div>
-->
{% endblock %}