{% extends "layout.html" %}
{% block content %}
<div class="container col-md-4">
    <div class="form-group">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="text-light">
                <legend class="mb-4">Register Your Profile</legend>
                <div class="form-group mb-2">
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class="form-group mb-2">
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>
                <div class="form-group mb-2">
                    {{ form.country.label }}
                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>
                <div class="form-group mb-2">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>
                <div class="form-group mb-2">
                    {{ form.confirm_password.label }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>
            </fieldset>
            <div class="form-group mt-2 mb-3">
                {{ form.submit(class="btn btn-register btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Login</a>
        </small>
    </div>
</div>
<!--
<div class="form">
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message[0]}}
    </div>
    {% endif %}
    {% endwith %}
    <form action="/" method="POST">
        <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
        <button type="submit" class="submit-button">Add</button>
    </form>
</div>
<div class="form">
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message[0]}}
    </div>
    {% endif %}
    {% endwith %}
    <form action="/" method="POST">
        <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
        <button type="submit" class="submit-button">Add</button>
    </form>
</div>
-->
{% endblock %}